
img{
 float: left;
}

.desc{
    text-align: justify;
    text-indent: 50px;
    font-family: 'Teko', sans-serif;
    margin: auto;
    width: 90%;
    font-size: 25px;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 40px;
    overflow: hidden;
    background-color: white;
  }
  
  li {
    float: left;
    font-family: 'Teko', sans-serif;
    font-size: 30px;
  }
  
  li a {
    display: block;
    color: red;
    text-align: center;
    padding: 34px 36px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  .active {
    background-color:  black;
  }
  
  .logo{
      position: relative;
  }
  .wording1{
    position: absolute;
    top: 300px;
    left: 450px;
    transform: rotate(-40deg);
    font-family: 'Teko', sans-serif;
    color: red;
  }
  
  .wording2{
    position: absolute;
    top: 455px;
    right: 475px;
    transform: rotate(53deg);
    font-family: 'Teko', sans-serif;
    color: red;
  }
  
  .wording2:hover{
      font-size: 0;
  }
  
  .wording2:hover:after { 
      content: attr(data-hover);
      font-size: 15px; 
      background-color:  black;
  } 